*{
    /* m0+p0+ff */
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}
/* 導覽列 */
nav{
    display: grid;
     /* gtc */
    grid-template-columns: 20% 70% 10%;
    /* bg */
    background: rgb(255, 91, 91);
    /* bs */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
     /* ai 格線用的垂直對其 */
    align-items: center;
}

/* 元素1 元素2 */
/* 選取 元素1 裡面的 元素2 */
#logo img{
    width: 50px;
}

#link a {
    padding: 0 35px;
    /* td 文字裝飾 none 無 */
    text-decoration: none;
    font-weight: 900;
    color: rgb(133, 27, 204);
    transition: 0.5s;
    border: 0;
}

#link a:hover{
    color: #226641;
    border:5px #226641;
}


#banner >div {
    height: 100vh;
}

/* 最新商品 */
/* 元素1 元素2 在元素1內的所有元素 */
#banner div:nth-child(1){
    background-image: url(./img/1.jpg);
}

#banner div:nth-child(2){
    background-image: url(./img/2.jpg);
}

#banner div:nth-child(3){
    background-image: url(./img/3.jpg);
    color:#fff;
}

#banner h1{
    padding: 30px;
    margin-top: 200px;
    font-size: 120px;
    text-shadow:0 5px 5px rgba( 0,0,0,0.3);
}

#banner p{
    padding: 30px;
    text-shadow:0 5px 5px rgba( 0,0,0,0.3);
}

#banner hr{
    width: 80%;
    margin: 0 auto;
    height: 5px;
    background: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba( 0,0,0,0.3);
}

#banner .slick-prew{
    left:50px;
}

#banner .slick-next{
    right:50px;
}

#banner .slick-dots{
    bottom:25px;
}

#banner{
    text-align: center;
}

/* 商品類型 */

#products {
    width: 1280px;
    margin: 0 auto;
}

/* 元素 1 > 元素 2 */
/* 元素 1 裡面 第一層 的 元素 2 */
#products > div {
    display: grid;
    grid-template-columns:40% 60%;
    margin-top: 20px;
}

#products .pic img{
    width: 100%;
    height: 350px;
    object-fit:cover;
}

#products .text{
    padding: 80px 30px 0;
}

#products .text h1{
    padding: 30px 0;
}

#products .text p{
    width: 300px;
    line-height: 2;
    padding: 10px 0 20px;
}

#products > div:nth-child(2){
    /* 格線樣板區域：利用格線區域名稱設定順序 */
    grid-template-areas: "pic text";
    grid-template-columns: 60% 40%;
}

#products > div:nth-child(2) .text{
    /* 格線區域：此區域名稱 */
    grid-area:text;
}
#products > div:nth-child(2) .pic{
    grid-area: pic;
}

/* 按鈕樣式 */
.button {
    padding: 8px 50px;
    /* 邊框：粗細 樣式 顏色 */
    border: 1px solid #226641;
    text-decoration: none;
    color: #226641;
    transition: 0.5s;
}

.button:hover {
    background: #226641;
    color:#fff;

}

/* 門市資訊 */
#info {
    display: grid;
    /* repeat(數量，寬度) */
    /* fr 格子 */
    /* 格子 / 數量 */
    /* 1fr / 3 */
    grid-template-columns: repeat(3, 1fr);
    /* 使用 repeat 可以用 間隙 */
    grid-gap: 15px;
    width: 1280px;
    margin: 50px auto 0;
}

#info .pic img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#info .text {
    padding: 0 10px;
}

#info .text h1{
    padding: 20px 0;
}

#info .text p{
    padding: 10px 0 25px;
    line-height: 2;
}

/* 其他服務 */
#service{
    width: 1280px;
    margin: 0 auto;
}

#service div:focus{
    outline: none;
}
#service img {
    width: 300px;
    height: 300px;
    object-fit:cover;
    border-radius: 50%;
    /*  border-radius: 50%;寬度要相同 */
    display: block;
    /* 區塊 */
    margin: 0 auto;
    transition: 0.5s;
}

#banner h2{
    text-align: center;
    margin-top: 10px;
    color: #aaaaaa;
}
footer{
    background:rgb(255, 91, 91) ;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}
#footer-link {
    padding: 20px 0;
}

#footer-link a {
    color: #226641;
    text-decoration: none;
    padding: 0 20px;
}
#contact{
    color: #999;
    font-size: 10px;
    padding: 10px 0;
}
#copy{
    color: #999;
    font-size: 8px;
}