*{
    /* m0+p0+ff */
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}
/* 導覽列 */
nav{
    display: grid;
     /* gtc */
    grid-template-columns: 20% 70% 10%;
    /* bg */
    background: rgb(255, 91, 91);
    /* bs */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
     /* ai 格線用的垂直對其 */
    align-items: center;
}

/* 元素1 元素2 */
/* 選取 元素1 裡面的 元素2 */
#logo img{
    width: 50px;
}

#link a {
    padding: 0 35px;
    /* td 文字裝飾 none 無 */
    text-decoration: none;
    font-weight: 900;
    color: rgb(133, 27, 204);
    transition: 0.5s;
    border: 0;
}

#link a:hover{
    color: #226641;
    border:5px #226641;
}
#products {
    padding: 0px 50px;
}
#products > div {
    display: grid;
    grid-template-columns:60% 40%;
}

#products .pic img{
    width: 100%;
    height: 350px;
    object-fit:cover;
}

#products .text{
    padding: 15px 20px 0 0;
}

#products .text h1{
    padding: 30px 0;
}

#products .text p{
    width: 300px;
    line-height: 2;
    padding: 10px 0;
}

#products > div:nth-child(2){
    grid-template-areas: "pic text";
    grid-template-columns: 40% 60%;
}

#products > div:nth-child(2) .text{
    grid-area:text;
}
#products > div:nth-child(2) .pic{
    grid-area:pic;
}
.button {
    padding: 8px 30px;
    border: 1px solid #226641;
    text-decoration: none;
    color: #226641;
    transition: 0.5s;
}

.button:hover {
    background: #226641;
    color:#fff;

}

/* 門市資訊 */
#info {
    display: grid;
    /* repeat(數量，寬度) */
    /* fr 格子 */
    /* 格子 / 數量 */
    /* 1fr / 3 */
    grid-template-columns: repeat(3, 1fr);
    /* 使用 repeat 可以用 間隙 */
    grid-gap: 15px;
    width: 1280px;
    margin: 50px auto 0;
}

#info .pic img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#info .text {
    padding: 0 10px;
}

#info .text h1{
    padding: 20px 0;
}

#info .text p{
    padding: 10px 0 25px;
    line-height: 2;
}